<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="dataSourceProd" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="jdbc:mysql://192.168.1.203:3306/CMS_VALMAR_DB" />
		<property name="username" value="user" />
		<property name="password" value="user" />
	</bean>
	
	<bean id="dataSourceDev" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="jdbc:mysql://192.168.1.203:3306/CMS_VALMAR_DB_DEV" />
		<property name="username" value="user" />
		<property name="password" value="user" />
	</bean>

    <!-- Hibernate 4 SessionFactory Bean definition -->
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSourceDev" />
        <property name="annotatedClasses">
            <list>
            	<value>com.valmar.ecommerce.model.TipoTienda</value>
            	<value>com.valmar.ecommerce.model.Banco</value>
            	<value>com.valmar.ecommerce.model.TipoDocumento</value>
            	<value>com.valmar.ecommerce.model.Contacto</value>
            	<value>com.valmar.ecommerce.model.Envio</value>
            	<value>com.valmar.ecommerce.model.DireccionEnvio</value>
            	<value>com.valmar.ecommerce.model.EstadoCuenta</value>
            	<value>com.valmar.ecommerce.model.InformacionCliente</value>
           		<value>com.valmar.ecommerce.model.InformacionProducto</value>
           		<value>com.valmar.ecommerce.model.ImagenProducto</value>
           		<value>com.valmar.ecommerce.model.ImagenTienda</value>
            	<value>com.valmar.ecommerce.model.Orden</value>
            	<value>com.valmar.ecommerce.model.Categoria</value>
            	<value>com.valmar.ecommerce.model.Marca</value>
				<value>com.valmar.ecommerce.model.Departamento</value>
				<value>com.valmar.ecommerce.model.Provincia</value>
				<value>com.valmar.ecommerce.model.Distrito</value>
				<value>com.valmar.ecommerce.model.Direccion</value>
				<value>com.valmar.ecommerce.model.Tienda</value>
				<value>com.valmar.ecommerce.model.Producto</value>
				<value>com.valmar.ecommerce.model.MetodoPago</value>
				
				<value>com.valmar.ecommerce.model.Token</value>
                <value>com.valmar.ecommerce.model.Usuario</value>
                <value>com.valmar.ecommerce.model.Authority</value>                
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    
     <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
     
	<tx:annotation-driven transaction-manager="transactionManager"/>

</beans> 
